<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>addStudent</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- ejs boot stap navbar template -->
    <%- include('navbar') %>
</head>

<h1>Add Student </h1>

<label for="id">id:</label>
<input type="text" id="id" name="id"><br><br>

<label for="first_name">First Name:</label>
<input type="text" id="first_name" name="first_name"><br><br>

<label for="last_name">Last Name:</label>
<input type="text" id="last_name" name="last_name"><br><br>

<label for="gpa">gpa:</label>
<input type="text" id="gpa" name="gpa"><br><br>

<label for="enrolled">enrolled:</label>
<input type="text" id="enrolled" name="enrolled"><br><br>


<button onclick="sendGetStudent()">add student</button>
<br><br>
<div id="mydiv" name="mydiv"></div>

<script>
    function sendGetStudent(){
        //set  (use jQuery to select DOM element and assign it to a var)
        var id=$("#id").val();
        var first_name_val=$("#first_name").val();
        var last_name_val=$("#last_name").val();
        var gpa_val=$("#gpa").val();
        var enrolled_val=$("#enrolled").val();

        // mongodb+srv://carlo:<password>@cluster0.olc1ibw.mongodb.net/?retryWrites=true&w=majority
        $.ajax({
            url: "http://localhost:5678/students",
            type:"post",
            // sends the val to the server with the parameters ex:-> parameter : val
            data :{
                _id:id, //addad id
                first_name:first_name_val,
                last_name:last_name_val,
                gpa:gpa_val,
                enrolled:enrolled_val
            },
            success: function(response) {//since resoponse is reciveing data in JSON format thus convert it to javascript
                // stringify convert  JS -> JSON
                // console.log("TEST 1: "+ JSON.stringify(response.message))//used for testing 
                let text=response.message+" - student ID :"+response._id
                //update html element
                document.getElementById("mydiv").innerHTML = text;
            },
            error: function(xhr){
                
                $("#mydiv").text('Error: student not added');
            }
        });
    }
</script>

</body>
</html>

