<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>getStudent</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- ejs boot stap navbar template -->
    <%- include('navbar') %>
</head>



<h1>Find Student's Record</h1>

<label for="recordID">Record ID:</label>
<input type="text" id="recordID" name="recordID"><br><br>
<button onclick="sendGetStudent()">Get student</button>
<br><br>
<div id="mydiv" name="mydiv"></div>

<script>
    function sendGetStudent(){
        var recordID = document.getElementById("recordID").value;
        console.log('Searching for record ID ' + recordID);
        $.ajax({
            url: "http://localhost:5678/students/"+recordID,
            type:"get",
            success: function(response) {//since resoponse is reciveing data in JSON format thus convert it to javascript
                console.log(response)//response - student info in json
                //parse JSON -> JS
                var objJSON=(response)
                // console.log(objJSON+' '+objJSON.record_id+' '+objJSON.first_name)//TEST CONSOLE

                //Create TABLE to display each student
                //header 
                let text = "<table border='1'><tr><th>Record ID</th><th>First Name</th><th>Last Name</th><th>GPA</th><th>Enrolled</th></tr>"
                //data retrived for student's row and elements to be concatented
                text += "<tr>"
                    +"<td>" + objJSON._id + "</td>"
                    +"<td>" + objJSON.first_name + "</td>"
                    +"<td>" + objJSON.last_name + "</td>"
                    +"<td>" + objJSON.gpa + "</td>"
                    +"<td>" + objJSON.enrolled + "</td>"
                    +"</tr>";
                text += "</table>"
                 // Set the innerHTML of the element with ID "mydiv" to the generated table
                document.getElementById("mydiv").innerHTML = text;
            },
            error: function(xhr){
                $("#mydiv").text('Error: student not found'+xhr);
            }
        });
    }
</script>

</body>
</html>


<!-- // let text = "<table border='1'><tr><th>Record ID</th><th>First Name</th><th>Last Name</th><th>GPA</th><th>Enrolled</th></tr>"
    // // text += "<tr>"
    // //     +"<td>" + students.record_id + "</td>"
    // //     +"</tr>";
    // text += "</table>" 
    // document.getElementById("mydiv").innerHTML = text; -->