<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- adds navabar template using ejs -->
    <%- include('navbar') %>
    <title>Student</title>
</head>
<body>
    <h1>!!!EJS welcome to students app !!!</h1>

</body>
</html>