<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>getStudent</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- navbar template -->
    <%- include('navbar') %>
    
</head>


<h1>Students List </h1>
<body onload="sendGetStudents()">
    <br>
    <br>
    <div id="mydiv" name="mydiv"></div>
    <script>
        
        function sendGetStudents(){
            console.log('TEST 1')
            $.ajax({
                url: "http://localhost:5678/students",
                type:"get",
                success: function(response){//this is alrady parsed thus use parse
                    console.log(response)
                    // document.getElementById("mydiv").innerHTML = str;

                    //add headers
                    let text = "<table border='1'><tr><th>Record ID</th><th>First Name</th><th>Last Name</th><th>GPA</th><th>Enrolled</th></tr>"
                    for (var i = 0; i < response.length; i++) {//Mongo db length of JSON file given (response) but for a parse you must focuse on one element ex:age,first_name... etc
                        text += "<tr>"
                            +"<td>" + response[i]._id + "</td>"
                            +"<td>" + response[i].first_name + "</td>"
                            +"<td>" + response[i].last_name + "</td>"
                            +"<td>"+ response[i].gpa + "</td>"
                            +"<td>"+ response[i].enrolled + "</td>"
                            +"</tr>";
                    }
                    text += "</table>" 
                    document.getElementById("mydiv").innerHTML = text;

                },
                
                
                error: function(xhr){
                    $("#mydiv").text('error!!: '+ xhr);
                }
            });
            // console.text(JSON.parse(response))
        }
    </script>

</body>
</html>
